<!doctype html>
<html>
  <head>
    <title><%= title %></title>
        <!-- bower:css -->
        <!-- endbower -->
  </head>
  <body>

<%- include component/main %>

        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->


    <script src="javascripts/socket.io/socket.io.js"></script>

  </body>
</html>