{% extends 'layout/index.html' %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/style.css" />
{% endblock %}

{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top ">
      <div class="container ">
        <div class="navbar-header  ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-center" href="#">RPJS-IO</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Chat</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="#" id="username">Username</a></li>
          </ul>
          <form class="navbar-form navbar-left" id="login" role="search">
          <div class="form-group">
            <input type="text" id='name' class="form-control" placeholder="Ingresa tu nombre" maxlength="30" required>
          </div>
          <button type="submit" class="btn btn-default">Log In!</button>
        </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div id='viewMain'>

    <div id="messages-box">
    <div class='msgTest'>
    <div class='msg-header'>
    <img src="http://placehold.it/350x150" alt="..." class="img-circle profile-img"/><div class="msg-username">Ale9Hack:</div>
    </div> 
    <div class='msg-text'>Bienvenido</div>
    </div>
    
    </div>

    <footer class="footer">
    <div class="container-fluid">
    <form id="messagesSubmit"  action="">
    <div class="row"> 
    <input id="m" autocomplete="off" class="col-md-8 col-xs-7" type="text" maxlength="250" required/>
    <button type="button" class="btn btn-primary col-md-1 col-xs-1" id="button-image"><span class="glyphicon glyphicon-circle-arrow-up" ></span>
    </button>
    <button class="btn btn-primary col-md-2 col-xs-2" id="send">  <span class="glyphicon glyphicon-send"></span></button>
    </div>
    <input id="inputImage" type="file"  /> 
    </form>
    </div>
    </footer>

</div>

{% endblock %}


  {% block js %}
  <script type="text/javascript">
 var socketChat = io('http://{{ip}}:{{port}}/chat');
  </script>
  <script type="text/javascript" src="/javascripts/main.js" ></script>

  {% endblock %}