{% extends 'layout/index.html' %}
{% block css %}
 <link rel="stylesheet" href="/stylesheets/signin.css" />
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-signin" method="post" action="/users/login">
        <h2 class="form-signin-heading">Por favor ingresa</h2>
        <label for="inputEmail" class="sr-only">Nombre de usuario</label>
        <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Nombre de usuario" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me">Recordarme
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
      </form>

    </div> <!-- /container -->

{% endblock %}