body{
	background-color:#C0C0C0;
}

#viewMain{
	margin-top: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 55px;
  background-color: #222222;
}

#messages{
	overflow-y: scroll;
	font-size: 20px;
}

#messagesSubmit {

}
#button-image{
    margin-top:5px;
	margin-left: 5px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 10px
}

#inputImage{
	display: none;
}

.msg-image{
	height: 300px;
 
}

#m{
	margin-top:5px;
	margin-left: 5px;
	height: 40px;
	font-size: 20px;
}



#send{
	margin-top:5px;
	margin-left: 5px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 10px

}
